<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Stock Market</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="static/stockmarket.css">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="jquery.webticker.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse','#content').on('click', function () {
                $('#sidebar').toggleClass('active');
                $('#content').toggleClass('active');
                $('#navbar').toggleClass('active');
                $('img').toggle();
            
            });
        });
        $(document).ready(function()
        {
            $("#webticker-update-example").webTicker(
            {
                height:'100px'
            });

            var open = [];
            var dates ; 
            $.ajax({
                url: "https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=MSFT&apikey=demo",
                dataType: 'json',
                success: function(result){
                    console.log(result);
                    var data = result["Time Series (Daily)"];
                    dates = Object.keys(result["Time Series (Daily)"]);
                    for (v of Object.values(data))
                        open.push(parseFloat(v["1. open"] ));
                    var trace = {
                      x: dates,
                      y: open,
                      mode: 'lines'
                    };
                var data = [ trace];

                Plotly.newPlot('stockPlotDiv', data);
                }
            });     

        });
    </script>
    <script>
        function myFunction(event) 
        {
          var input, filter, table, tr, td, i, txtValue;
          input = event.target;
          if (input.id == "myInput1")
          {
              filter = input.value.toUpperCase();
              table = document.getElementById("order-table");
              tr = table.getElementsByTagName("tr");

              for (i = 0; i < tr.length; i++) 
              {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                  txtValue = td.textContent || td.innerText;
                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }
              }
          }
          
          else if (input.id == "myInput2")
          {
              filter = input.value.toUpperCase();
              table = document.getElementById("order-table");
              tr = table.getElementsByTagName("tr");

              for (i = 0; i < tr.length; i++) 
              {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                  txtValue = td.textContent || td.innerText;
                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }
              }
          }
          
          else if (input.id == "myInput3")
          {
              filter = input.value.toUpperCase();
              table = document.getElementById("order-table");
              tr = table.getElementsByTagName("tr");

              for (i = 0; i < tr.length; i++) 
              {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                  txtValue = td.textContent || td.innerText;
                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }
              }
          }
          
          else if (input.id == "myInput4")
          {
              filter = input.value.toUpperCase();
              table = document.getElementById("order-table");
              tr = table.getElementsByTagName("tr");

              for (i = 0; i < tr.length; i++) 
              {
                td = tr[i].getElementsByTagName("td")[3];
                if (td) {
                  txtValue = td.textContent || td.innerText;
                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }
              }
          }
        }
        
        function sortTable(n) 
        {
          var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
          table = document.getElementById("order-table");
          switching = true;
          dir = "asc";
          while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
              shouldSwitch = false;
              x = rows[i].getElementsByTagName("TD")[n];
              y = rows[i + 1].getElementsByTagName("TD")[n];
              if (dir == "asc") {
                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                  shouldSwitch = true;
                  break;
                }
              } else if (dir == "desc") {
                if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                  shouldSwitch = true;
                  break;
                }
              }
            }
            if (shouldSwitch) {
              rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
              switching = true;
              switchcount ++;
            } else {
              if (switchcount == 0 && dir == "asc") {
                dir = "desc";
                switching = true;
              }
            }
          }
        }
    </script>

</head>

<body>

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar" class="fixed-top" >
            <div class="text-center" id="profilediv">
            <h5>User Name</h5>
            <img class="rounded-circle z-depth-2" alt="100x100" src="download.jpg" data-holder-rendered="true" id="profilepic"/>
            <h6>Profile</h6>
            <hr>
          </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="dashboard.html" id="dashboard">
                        <i class="fas fa-home"></i>
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="stockshist.html">
                        <i class="fas fa-briefcase"></i>
                        Stock History
                    </a>
                </li>
                <li>
                    <a href="mystocks.html" data-toggle="collapse">
                        <i class="fas fa-copy"></i>
                        My Stocks
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-image"></i>
                        Transactions
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-image"></i>
                        Analytics
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-question"></i>
                        FAQ
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-paper-plane"></i>
                        Contact
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="navbar">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#" id="wallet">
                                    <i class="fa fa-wallet fa-lg"></i> Wallet <span class="badge badge-success">$100.00</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" id="cart">
                                    <i class="fa fa-shopping-cart fa-lg"></i> Cart <span class="badge badge-pill badge-primary">3</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" id="logout">
                                    <i class="fa fa-sign-out-alt fa-lg"></i>Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div id="stocksdata">
                
            <div></div>

            <div id="stocksListAndPlotArea" style="margin-left: 30px;">
                
                </br>
                    <div class="row" id="cardtickerdiv">
                        <div class="card" style="width: 67rem;">
                          <div class="card-body">
                            <h5 class="card-title">Stocks owned</h5>
                                    <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4" id="stockListBar">
                                    <div class="input-group">
                                      <input type="search" id="myInput" onkeyup="myFunction()" placeholder="Search for stocks owned by you" aria-describedby="button-addon1" class="form-control border-0 bg-light" id="stockListBarId">
                                      <div class="input-group-append">
                                        <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
                                      </div>
                                    </div>
                                  </div>
                            <table id="myTable" class="sortable" width=100%;>      
                            <div class="list-group list-group-flush">
                                <th align="center" onclick="sortTable(0)">Ticker Symbol</th>
                                <th align="center" onclick="sortTable(1)">Stock Name</th>
                                <th align="center" onclick="sortTable(2)">Stock Quantity</th>
                                <th align="center" onclick="sortTable(3)">Purchase Price</th>  
                                <th align="center" onclick="sortTable(4)">Price Sold</th>  
                                <th align="center" onclick="sortTable(5)">Purchase Date</th>
                                <th align="center" onclick="sortTable(5)">Selling Date</th>
                                <th></th>
                              
                                <th></th>
                              
                            <tr>
                              <td>ALB</td>
                              <td>
                              <a href="#" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">Google
                                <span id="span">

                                    <span id="span"><i class="fa fa-chart-line"  style="color:#3cba54;"></i></span>
                                    <i class="fa fa-shopping-cart" style="color:#FF5733;"></i></span>
                              </a></td>
                              <td>30</td>
                              <td>90.00</td>
                              <td>85.00</td>
                              <td>11/25/2019</td>
                              <td></td>
                              
                              </td>
                            </tr>

                            <tr>
                              <td>APP</td>
                              <td>
                              <a href="#" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">Apple<span id="span">
                                    <span id="span"><i class="fa fa-chart-line"  style="color:#3cba54;"></i></span>
                                    <i class="fa fa-shopping-cart" style="color:#FF5733;"></i></span>
                              </a></td>
                              <td>50</td>
                              <td>70.00</td>
                              <td>85.00</td>
                              <td>10/25/2019</td>
                              <td>11/22/2019</td>                                 
                            </tr>

                            <tr> 
                              <td>APP</td>
                              <td>
                              <a href="#" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">Microsoft<span id="span">
                                    <span id="span"><i class="fa fa-chart-line"  style="color:#3cba54;"></i></span>
                                    <i class="fa fa-shopping-cart" style="color:#FF5733;"></i></span>
                              </a></td>
                              <td>60</td>
                              <td>65.00</td>
                              <td>85.00</td>
                              <td>10/24/2019</td>
                              <td>11/20/2019</td>                           
                            </tr>

                            <tr>
                              <td>FBK</td>
                              <td>  
                              <a href="#" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">Facebook<span id="span">
                                    <span id="span"><i class="fa fa-chart-line"  style="color:#3cba54;"></i></span>
                                    <i class="fa fa-shopping-cart" style="color:#FF5733;"></i></span>
                              </a></td>
                              <td>80</td>
                              <td>60.00</td>
                              <td>75.00</td>
                              <td>10/25/2019</td>
                              <td></td>
                            </tr>

                            <tr>
                              <td>AMZ</td>
                              <td> 
                              <a href="#" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">Amazon <span id="span">
                                    <span id="span"><i class="fa fa-chart-line"  style="color:#3cba54;"></i></span>
                                    <i class="fa fa-shopping-cart" style="color:#FF5733;"></i></span>
                              </a></td>
                              <td>90</td>
                              <td>80.00</td>
                              <td>90.00</td>
                              <td>12/22/2019</td>
                              <td></td>
                                  
                            </tr>

                            <tr>
                              <td>APP</td>
                              <td>  
                              <a href="#" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">Apple<span id="span">
                                    <span id="span"><i class="fa fa-chart-line"  style="color:#3cba54;"></i></span>
                                    <i class="fa fa-shopping-cart" style="color:#FF5733;"></i></span>
                              </a></td>
                              <td>50</td>
                              <td>55.00</td>
                              <td>45.00</td>
                              <td>11/12/2019</td>
                              <td>11/25/2019</td>
                            </tr>

                            </div>
                            </table>
                          
                        </div>
                        </div>
                        
                    </div>
            </div>
            
        </div>
    </div>

    <script>
          function myFunction() {
          // Declare variables
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("myTable");
          tr = table.getElementsByTagName("tr");

          // Loop through all table rows, and hide those who don't match the search query
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
          }
        }

        function sortTable(n) {
          var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
          table = document.getElementById("myTable");
          switching = true;
          // Set the sorting direction to ascending:
          dir = "asc";
          /* Make a loop that will continue until
          no switching has been done: */
          while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /* Loop through all table rows (except the
            first, which contains table headers): */
            for (i = 1; i < (rows.length - 1); i++) {
              // Start by saying there should be no switching:
              shouldSwitch = false;
              /* Get the two elements you want to compare,
              one from current row and one from the next: */
              x = rows[i].getElementsByTagName("TD")[n];
              y = rows[i + 1].getElementsByTagName("TD")[n];
              /* Check if the two rows should switch place,
              based on the direction, asc or desc: */
              if (dir == "asc") {
                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                  // If so, mark as a switch and break the loop:
                  shouldSwitch = true;
                  break;
                }
              } else if (dir == "desc") {
                if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                  // If so, mark as a switch and break the loop:
                  shouldSwitch = true;
                  break;
                }
              }
            }

            if (shouldSwitch) {
              /* If a switch has been marked, make the switch
              and mark that a switch has been done: */
              rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
              switching = true;
              // Each time a switch is done, increase this count by 1:
              switchcount ++;
            } else {
              /* If no switching has been done AND the direction is "asc",
              set the direction to "desc" and run the while loop again. */
              if (switchcount == 0 && dir == "asc") {
                dir = "desc";
                switching = true;
              }
            }
          }
        }
        function sortTablenum(n) {
          var table, rows, switching, i, x, y, shouldSwitch;
          table = document.getElementById("myTable");
          switching = true;
          /*Make a loop that will continue until
          no switching has been done:*/
          while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
              //start by saying there should be no switching:
              shouldSwitch = false;
              /*Get the two elements you want to compare,
              one from current row and one from the next:*/
              x = rows[i].getElementsByTagName("TD")[n];
              y = rows[i + 1].getElementsByTagName("TD")[n];
              //check if the two rows should switch place:
              if (Number(x.innerHTML) > Number(y.innerHTML)) {
                //if so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
              }
            }
            if (shouldSwitch) {
              /*If a switch has been marked, make the switch
              and mark that a switch has been done:*/
              rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
              switching = true;
            }
          }
        }
        function convertDate(d) {
          var p = d.split("/");
          return +(p[2]+p[1]+p[0]);
        }

        function sortByDate(n) {
          var tbody = document.querySelector("#results tbody");
          // get trs as array for ease of use
          var rows = [].slice.call(tbody.querySelectorAll("tr"));
          
          rows.sort(function(a,b) {
            return convertDate(a.cells[0].innerHTML) - convertDate(b.cells[0].innerHTML);
          });
          
          rows.forEach(function(v) {
            tbody.appendChild(v); // note that .appendChild() *moves* elements
          });
        }

        //document.querySelector("button").addEventListener("click", sortByDate);
</script>
</body>

</html>